# Base de datos
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=proyecto_taller
DB_PORT=5433

# Backend
PORT=3000
NODE_ENV=development
SWAGGER_ENABLED=true
ALLOWED_ORIGIN=http://localhost:4200

# JWT
JWT_ACCESS_SECRET=changeme_access_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=changeme_refresh_secret
JWT_REFRESH_EXPIRES_IN=7d

# Frontend
API_URL=http://localhost:3000