PORT=3000
NODE_ENV=development
SWAGGER_ENABLED=true
ALLOWED_ORIGIN=http://localhost:4200

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=user
DB_PASSWORD=123123123
DB_DATABASE=programacion

JWT_ACCESS_SECRET=dev_access_secret_change_me
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=dev_refresh_secret_change_me
JWT_REFRESH_EXPIRES_IN=7d
