/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './demo/demo.scss';

/* Leaflet Map Styles */
@use 'leaflet/dist/leaflet.css';
.logo-mask {
    width: 54px;
    height: 40px;
    display: inline-block;
    
    background-image: url('/icono_p.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}