<my-floating-configurator />

<div
    class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-screen overflow-hidden"
>
    <div class="flex flex-col items-center justify-center">
        <div
            style="
                border-radius: 56px;
                padding: 0.3rem;
                background: linear-gradient(
                    180deg,
                    var(--primary-color) 10%,
                    rgba(33, 150, 243, 0) 30%
                );
            "
        >
            <div
                class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20"
                style="border-radius: 53px"
            >
                <div class="text-center mb-8">
                    <div
                        class="logo-mask"
                        style="width: 200px; height: 150px"
                    ></div>

                    <div
                        class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4"
                    >
                        ¡Bienvenido!
                    </div>
                    <span class="text-muted-color font-medium"
                        >Inicia sesión para continuar</span
                    >
                </div>

                <form [formGroup]="form" (ngSubmit)="onLogin()">
                    <div class="mb-4">
                        <p-floatlabel variant="on">
                            <input
                                pInputText
                                id="correo_electronico"
                                type="email"
                                formControlName="correo_electronico"
                                class="w-full md:w-120"
                                variant="filled"
                                pSize="small"
                            />
                            <label for="correo_electronico"
                                >Correo electrónico</label
                            >
                        </p-floatlabel>
                        @if (isInvalid("correo_electronico")) {
                            <small class="text-red-500 mt-1 block"
                                >Correo electrónico inválido</small
                            >
                        }
                    </div>

                    <div class="mb-6">
                        <p-floatlabel variant="on">
                            <input
                                pInputText
                                inputId="contrasena"
                                type="password"
                                formControlName="contrasena"
                                class="w-full md:w-120"
                                variant="filled"
                                pSize="small"
                            />
                            <label for="contrasena">Contraseña</label>
                        </p-floatlabel>
                        @if (isInvalid("contrasena")) {
                            <small class="text-red-500 mt-1 block"
                                >La contraseña es requerida</small
                            >
                        }
                    </div>

                    <p-button
                        type="submit"
                        label="Iniciar Sesión"
                        styleClass="w-full"
                        [loading]="loading"
                        [disabled]="form.invalid"
                    >
                    </p-button>

                    <div class="mt-6 text-center">
                        <span class="text-muted-color font-medium"
                            >¿No tienes cuenta?</span
                        >
                        <a
                            routerLink="/auth/register"
                            class="text-primary font-medium hover:underline ml-2"
                            >Regístrate</a
                        >
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
