<p-dialog
    [(visible)]="visible"
    [header]="modalTitle"
    [modal]="true"
    [style]="{ width: '35rem' }"
    [breakpoints]="{ '960px': '75vw', '640px': '95vw' }"
    [closable]="true"
    [closeOnEscape]="true"
    (onHide)="close()"
    class="custom-modal p-fluid"
    [contentStyle]="{ overflow: 'visible' }"
>
    <ng-container>
        <form [formGroup]="form" class="flex flex-col gap-6 pt-5">
            <div class="flex flex-col">
                <p-floatLabel variant="on">
                    <input
                        pInputText
                        id="nombre_input"
                        formControlName="nombre"
                        class="w-full"
                        [invalid]="isInvalid('nombre')"
                        variant="filled"
                        pSize="small"
                    />
                    <label for="nombre_input"
                        >Nombre <span class="text-red-500">*</span></label
                    >
                </p-floatLabel>
                @if (isInvalid("nombre")) {
                    <p-message
                        severity="error"
                        size="small"
                        variant="simple"
                        class="mt-1"
                    >
                        El nombre es requerido.
                    </p-message>
                }
            </div>

            <div class="flex flex-col">
                <p-floatLabel variant="on">
                    <textarea
                        pTextarea
                        id="descripcion_input"
                        formControlName="descripcion"
                        rows="3"
                        autoResize="true"
                        class="w-full"
                        [invalid]="isInvalid('descripcion')"
                        variant="filled"
                        pSize="small"
                    ></textarea>
                    <label for="descripcion_input"
                        >Descripción <span class="text-red-500">*</span></label
                    >
                </p-floatLabel>
                @if (isInvalid("descripcion")) {
                    <p-message
                        severity="error"
                        size="small"
                        variant="simple"
                        class="mt-1"
                    >
                        La descripción es requerida.
                    </p-message>
                }
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div class="flex flex-col">
                    <p-floatLabel variant="on">
                        <p-datepicker
                            inputId="fecha_inicio_input"
                            formControlName="fecha_inicio"
                            dateFormat="yy-mm-dd"
                            class="w-full"
                            [invalid]="isInvalid('fecha_inicio')"
                            showIcon
                            iconDisplay="input"
                            variant="filled"
                            [inputStyle]="{ width: '100%' }"
                            size="small"
                        ></p-datepicker>
                        <label for="fecha_inicio_input"
                            >Fecha Inicio
                            <span class="text-red-500">*</span></label
                        >
                    </p-floatLabel>
                    @if (isInvalid("fecha_inicio")) {
                        <p-message
                            severity="error"
                            size="small"
                            variant="simple"
                            class="mt-1"
                        >
                            La fecha de inicio es requerida.
                        </p-message>
                    }
                </div>

                <div class="flex flex-col">
                    <p-floatLabel variant="on">
                        <p-datepicker
                            inputId="fecha_fin_input"
                            formControlName="fecha_fin"
                            dateFormat="yy-mm-dd"
                            class="w-full"
                            showIcon
                            iconDisplay="input"
                            [invalid]="isInvalid('fecha_fin')"
                            variant="filled"
                            [inputStyle]="{ width: '100%' }"
                            size="small"
                        ></p-datepicker>
                        <label for="fecha_fin_input"
                            >Fecha Fin
                            <span class="text-red-500">*</span></label
                        >
                    </p-floatLabel>
                    @if (isInvalid("fecha_fin")) {
                        <p-message
                            severity="error"
                            size="small"
                            variant="simple"
                            class="mt-1"
                        >
                            La fecha de fin es requerida.
                        </p-message>
                    }
                    @if (hasDateValidationError()) {
                        <p-message
                            severity="error"
                            size="small"
                            variant="simple"
                            class="mt-1"
                        >
                            La fecha de fin debe ser posterior a la fecha de
                            inicio.
                        </p-message>
                    }
                </div>
            </div>

            <div class="grid grid-cols-3 gap-4">
                <div class="flex flex-col">
                    <p-floatLabel variant="on">
                        <p-select
                            inputId="nivel_input"
                            [options]="niveles"
                            formControlName="nivel_dificultad"
                            [invalid]="isInvalid('nivel_dificultad')"
                            class="w-full"
                            [appendTo]="'body'"
                            variant="filled"
                            size="small"
                        ></p-select>
                        <label for="nivel_input"
                            >Nivel <span class="text-red-500">*</span></label
                        >
                    </p-floatLabel>
                    @if (isInvalid("nivel_dificultad")) {
                        <p-message
                            severity="error"
                            size="small"
                            variant="simple"
                            class="mt-1"
                        >
                            El nivel es requerido.
                        </p-message>
                    }
                </div>

                <div class="flex flex-col">
                    <p-floatLabel variant="on">
                        <p-select
                            inputId="estado_input"
                            [options]="estados"
                            formControlName="estado"
                            [invalid]="isInvalid('estado')"
                            class="w-full"
                            [appendTo]="'body'"
                            variant="filled"
                            size="small"
                        ></p-select>
                        <label for="estado_input"
                            >Estado <span class="text-red-500">*</span></label
                        >
                    </p-floatLabel>
                    @if (isInvalid("estado")) {
                        <p-message
                            severity="error"
                            size="small"
                            variant="simple"
                            class="mt-1"
                        >
                            El estado es requerido.
                        </p-message>
                    }
                </div>

                <div class="flex flex-col">
                    <p-floatLabel variant="on">
                        <p-select
                            inputId="tipo_input"
                            [options]="tipos"
                            formControlName="tipo"
                            [invalid]="isInvalid('tipo')"
                            class="w-full"
                            [appendTo]="'body'"
                            variant="filled"
                            size="small"
                        ></p-select>
                        <label for="tipo_input"
                            >Tipo <span class="text-red-500">*</span></label
                        >
                    </p-floatLabel>
                    @if (isInvalid("tipo")) {
                        <p-message
                            severity="error"
                            size="small"
                            variant="simple"
                            class="mt-1"
                        >
                            El tipo es requerido.
                        </p-message>
                    }
                </div>
            </div>

            @if (isGrupal) {
                <div class="flex flex-col">
                    <p-floatLabel variant="on">
                        <p-inputNumber
                            inputId="max_input"
                            formControlName="max_participantes"
                            [min]="1"
                            class="w-full"
                            [inputStyle]="{ width: '100%' }"
                            variant="filled"
                            size="small"
                        ></p-inputNumber>
                        <label for="max_input"
                            >Max. Participantes
                            <span class="text-red-500">*</span></label
                        >
                    </p-floatLabel>
                    @if (isInvalid("max_participantes")) {
                        <p-message
                            severity="error"
                            size="small"
                            variant="simple"
                            class="mt-1"
                        >
                            Debe ser un número válido.
                        </p-message>
                    }
                </div>
            }
        </form>
    </ng-container>

    <ng-template pTemplate="footer">
        <div class="flex w-full justify-end gap-2">
            <p-button
                label="Cancelar"
                [text]="true"
                severity="secondary"
                (onClick)="close()"
            ></p-button>
            <p-button
                label="Guardar"
                icon="pi pi-save"
                [loading]="saving"
                (onClick)="save()"
                class="w-full md:w-auto flex justify-center bg-gray-900 border-gray-900 text-white hover:bg-gray-800 hover:border-gray-800"
            ></p-button>
        </div>
    </ng-template>
</p-dialog>
